<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tian.tas.mapper.LeavingMessageMapper">
    <update id="updateByIds">
        update tas_tmh.leaving_message
            set is_deleted = '已删除'
        <where>
         id in
            <foreach collection="list" separator="," open=" ( " close=" ) " item="item" index="id">
                #{item}
            </foreach>
        </where>
    </update>

    <update id="updateUserName">
        update tas_tmh.leaving_message
        <set>
            <if test="userRole == 'sender'">
                sender = #{userName},
            </if>
            <if test="userRole == 'receiver'">
                receiver = #{userName},
            </if>
        </set>
        <where>
            <if test="userRole == 'sender'">
                sender = #{oldName}
            </if>
            <if test="userRole == 'receiver'">
                receiver = #{oldName}
            </if>
        </where>
    </update>

    <select id="selectPageVo" resultType="leavingMessage">
        select
        id,sender,receiver,date,title,content
        from tas_tmh.leaving_message
        <where>
            is_deleted = '未删除'
            <if test="sender != ''">
                and ( sender = #{sender}
                <if test="receiver != ''">
                    or receiver = #{receiver}
                </if>
                )
            </if>
            <if test="title != ''">
                and title = #{title}
            </if>
            <if test="content != ''">
                and content = #{content}
            </if>
            <if test="startTime != ''">
                and date BETWEEN #{startTime} and #{endTime}
            </if>
            <if test="user != ''">
                and receiver = #{user}
            </if>
            order by date desc
        </where>
    </select>

    <select id="selectDistinctTitle" resultType="string">
        select distinct title allTitle
        from tas_tmh.leaving_message
        <where>
            is_deleted = '未删除'
            <if test="sender != null || receiver != null">
                <if test="sender != null">
                    and (sender = #{sender}
                </if>
                <if test="receiver != null">
                    or receiver = #{receiver}
                </if>
                <if test="sender != null">
                    )
                </if>
            </if>
        </where>
    </select>

    <select id="selectByQueryString" resultType="string">
        select distinct
        <if test="query == 'title'">
            title
        </if>
        <if test="query == 'content'">
            content
        </if>
        <if test="query == 'user'">
            receiver
        </if>
        from tas_tmh.leaving_message
        <where>
            is_deleted = '未删除'
            <if test="sender != null">
                and (sender = #{sender}
            </if>
            <if test="receiver != null">
                or receiver = #{receiver}
            </if>
            <if test="sender != null">
                )
            </if>
            <if test="query == 'title'">
                and title like CONCAT("%",#{queryString},"%")
            </if>
            <if test="query == 'content'">
                and content like CONCAT("%",#{queryString},"%")
            </if>
            <if test="query == 'user'">
                and receiver like CONCAT("%",#{queryString},"%")
            </if>
        </where>
    </select>

</mapper>
