<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tian.tas.mapper.ScoreMapper">
    <update id="updateById">
        update tas_tmh.score
        set num = #{score}
        where id = #{id}
    </update>

    <select id="selectByCNumAndSName" resultType="score">
        select course_num,student_num from tas_tmh.score
        <where>
            <if test="courseNum != null">
                course_num = #{courseNum}
            </if>
            <if test="studentNum != null">
                and student_num = #{studentNum}
            </if>
        </where>
    </select>
    <select id="selectScoreReport" resultType="scoreReportVO">
        select sc.id,
               s.name real_name,
               sc.student_num,
               c.name course_name,
               sc.num score,
               s.student_class
        from tas_tmh.student s,tas_tmh.course c,tas_tmh.score sc
        <where>
            s.student_num = sc.student_num and c.num = sc.course_num
            <if test="studentNum != null">
                and sc.student_num = #{studentNum}
            </if>
            <if test="teacherNum != null">
                and c.teacher_num = #{teacherNum}
            </if>
        </where>
    </select>
</mapper>
