<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tian.tas.mapper.UserStatusMapper">

    <resultMap id="BaseResultMap" type="org.tian.tas.entity.UserStatus">
            <id property="userId" column="user_id" jdbcType="CHAR"/>
            <result property="loginStatus" column="login_status" jdbcType="OTHER"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="logoutTime" column="logout_time" jdbcType="TIMESTAMP"/>
            <result property="loginPermitTime" column="login_permit_time" jdbcType="TIMESTAMP"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,login_status,login_time,
        logout_time,login_permit_time,token
    </sql>
</mapper>
